.image-look{

    padding: 3px !important;
    border: 1px !important;
    border: solid black !important;
    border-radius: 5px !important;
}
.dash-board-header{
    width: 100% !important;
    text-align: center !important;
    border-radius: 10px !important;
}