<div nz-row style="padding: 5px !important;">

        <div nz-col nzXs="24" nzSm="18" nzMd="20" nzLg="20" nzXl="20">

            <nz-alert class="dash-board-header" nzType="success" nzMessage="Product Information" nzDescription="All Products Information form One Place">
   
            </nz-alert>

        </div>
        <div nz-col nzXs="24" nzSm="6" nzMd="4" nzLg="4" nzXl="4">
          

            <button nzShape="round" nzBlock nz-button nz-dropdown [nzDropdownMenu]="menu">Products Categories<i nz-icon nzType="down"></i></button>

            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item>
                    <a>1st item</a>
                  </li>
                  <li nz-menu-item>
                    <a>2nd item</a>
                  </li>
                  <li nz-menu-item>
                    <a>3rd item</a>
                  </li>
                </ul>
              </nz-dropdown-menu>

        </div>
        
</div>


<div nz-row style="padding: 5px !important;">

    <div nz-col class="image-look" nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6">

        <nz-card nzHoverable style="width:100%"  [nzCover]="coverTemplate">
            <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate>
            <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
        </ng-template>

    </div>
    <div nz-col class="image-look" nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6">

        <nz-card nzHoverable style="width:100%"  [nzCover]="coverTemplate">
            <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate>
            <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
          </ng-template>

    </div>
    <div nz-col class="image-look" nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6">

        <nz-card nzHoverable style="width:100%" [nzCover]="coverTemplate">
            <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate>
            <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
          </ng-template>


    </div>
    <div nz-col class="image-look" nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6">


        <nz-card nzHoverable style="width:100%" [nzCover]="coverTemplate">
            <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate>
            <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
          </ng-template>


    </div>


  </div>

  <div nz-row style="padding: 5px !important;padding-bottom: 30px !important;">

    <div nz-col class="image-look" nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6">

        <nz-card nzHoverable style="width:100%"  [nzCover]="coverTemplate">
            <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate>
            <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
        </ng-template>

    </div>
    <div nz-col class="image-look" nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6">

        <nz-card nzHoverable style="width:100%"  [nzCover]="coverTemplate">
            <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate>
            <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
          </ng-template>

    </div>
    <div nz-col class="image-look" nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6">

        <nz-card nzHoverable style="width:100%" [nzCover]="coverTemplate">
            <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate>
            <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
          </ng-template>


    </div>
    <div nz-col class="image-look" nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6">


        <nz-card nzHoverable style="width:100%" [nzCover]="coverTemplate">
            <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate>
            <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
          </ng-template>


    </div>


  </div>