
   <div nz-row  >



    <div  nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">


      <div class="site-page-header-ghost-wrapper">
        <nz-page-header class="header-design" nzBackIcon [nzGhost]="true">
          <nz-page-header-title>e-publisher</nz-page-header-title>
          <nz-page-header-subtitle>publish what you want</nz-page-header-subtitle>
          <nz-page-header-extra class="option-list" >

            <button nz-button (click)="open()" >Job Categories</button>
            <button nz-button style="margin-left: 2px !important;" >Publication</button>
            <!-- <button nz-button>Login</button>
            <button nz-button nzType="primary">Sign Up</button> -->

            <nz-button-group style="margin-left: 2px !important;">
              <button nz-button >Options</button>
              <button nz-button nz-dropdown [nzDropdownMenu]="menu2" nzPlacement="bottomRight">
                <i nz-icon nzType="user"></i>
              </button>
            </nz-button-group>

            <nz-dropdown-menu #menu2="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item><i nz-icon nzType="user-add" nzTheme="outline"></i>Sign Up</li>
                <li nz-menu-item><i nz-icon nzType="login" nzTheme="outline"></i>Login</li>
                <li nz-menu-item><i nz-icon nzType="logout" nzTheme="outline"></i>Logout</li>
              </ul>
            </nz-dropdown-menu>


          </nz-page-header-extra>

          <nz-page-header-extra class="option-list2" style="text-align: right;" >

             <div class="option-list2-div">

              <a nz-dropdown [nzDropdownMenu]="menu">
                Options
                <i nz-icon nzType="down"></i>
              </a>
  
              <nz-button-group>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu>
                    <li nz-menu-item  (click)="open()" ><i nz-icon nzType="smile" nzTheme="outline"></i>Job Categories</li>
                    <li nz-menu-item><i nz-icon nzType="book" nzTheme="outline"></i>Publication</li>
                    <li nz-menu-item ><i nz-icon nzType="user-add" nzTheme="outline"></i>Sign Up</li>
                    <li nz-menu-item><i nz-icon nzType="login" nzTheme="outline"></i>Login</li>
                    <li nz-menu-item ><i nz-icon nzType="logout" nzTheme="outline"></i>Logout</li>

                  </ul>
                </nz-dropdown-menu>
  
              </nz-button-group>


            </div>

           


          </nz-page-header-extra>



          <nz-page-header-content>
            <!-- <nz-descriptions nzSize="small" [nzColumn]="3">
              <nz-descriptions-item nzTitle="Created" [nzSpan]="1">Lili Qu</nz-descriptions-item>
            </nz-descriptions> -->
          </nz-page-header-content>
        </nz-page-header>
      </div>
  


    </div>



   


  </div>
  <div  nz-row style="height: 79% !important; overflow: hidden;">


    <div class="home-rout" nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4">


    </div>
    <div style="overflow-y: scroll; overflow-x: hidden;height: 100% !important; " nz-col class="home-rout" nzXs="24" nzSm="24" nzMd="16" nzLg="16" nzXl="16">

      <router-outlet></router-outlet>

    </div>
    <div nz-col class="home-rout" nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4">

    </div>

  </div>



  <nz-drawer [nzClosable]="false" [nzHeight] ='200'  [nzVisible]="visible" [nzPlacement]="placement" nzTitle=" Category List" (nzOnClose)="close()">
    
    <div class="cat-list"  nz-row>
      <div class="button-div" nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" *ngFor="let item of categorieyList">
        <button (click)='selectCategory(item)' class="button-class" nz-button nzType="default" nzBlock>{{item.categoryName}}</button>
      </div>
    </div>
    
    <!-- <div nz-row class="cat-list" [nzGutter]="{ xs: 24, sm: 24, md: 24, lg: 30 }">
      <div nz-col style="cursor: pointer;" (click)='selectCategory(item)' class="gutter-row"*ngFor="let item of categorieyList"  [nzSpan]="6"><div class="inner-box">{{item.categoryName}}</div></div>
    </div> -->


  </nz-drawer>


