
   <div nz-row>

    <div class="site-page-header-ghost-wrapper">
      <nz-page-header nzBackIcon [nzGhost]="false">
        <nz-page-header-title>e-publisher</nz-page-header-title>
        <nz-page-header-subtitle>publish what you want</nz-page-header-subtitle>
        <nz-page-header-extra>
          <button nz-button (click)="open()" >Job Categories</button>
          <button nz-button  >Publication</button>
          <button nz-button>Login</button>
          <button nz-button nzType="primary">Sign Up</button>
        </nz-page-header-extra>
        <nz-page-header-content>
          <nz-descriptions nzSize="small" [nzColumn]="3">
            <nz-descriptions-item nzTitle="Created" [nzSpan]="1">Lili Qu</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Association" [nzSpan]="1"><a>421421</a></nz-descriptions-item>
            <nz-descriptions-item nzTitle="Creation Time" [nzSpan]="1">2017-01-10</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Effective Time" [nzSpan]="1">2017-10-10</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Remarks" [nzSpan]="2">
              Gonghu Road, Xihu District, Hangzhou, Zhejiang, China
            </nz-descriptions-item>
          </nz-descriptions>
        </nz-page-header-content>
      </nz-page-header>
    </div>



  </div>
  <div nz-row>




  </div>


  <nz-drawer [nzClosable]="false" [nzHeight] ='200'  [nzVisible]="visible" [nzPlacement]="placement" nzTitle=" Category List" (nzOnClose)="close()">
    
    
    <div nz-row class="cat-list" [nzGutter]="{ xs: 24, sm: 24, md: 24, lg: 30 }">
      <div nz-col style="cursor: pointer;" (click)='selectCategory(item)' class="gutter-row"*ngFor="let item of categorieyList"  [nzSpan]="6"><div class="inner-box">{{item.categoryName}}</div></div>
    </div>


  </nz-drawer>


